<div class="card animated fadeInRight">
  <header>
    <div class="card-body">
      <h4 class="card-title">Order Summary</h4>
      <p class="card-text">Your Order Total</p>
      <p class="card-text">{{totalItems}} item(s)</p>
    </div>
  </header>
  <div>

    <ul class="list-group">
      <li class="list-group-item">
        <h5 class="subtitle-margin-ignore">Subtotal: {{this.subtotal}}
        </h5>
      </li>
      <li class="list-group-item">
        <h5 class="subtitle-margin-ignore">Shipping: {{this.shipping}}
        </h5>
      </li>
      <li class="list-group-item">
        <h5 class="subtitle-margin-ignore">Estimated Tax: {{this.estimatedTax}}
        </h5>
      </li>
      <li class="list-group-item">
        <h5 class="subtitle-margin-ignore">Recycling fee: {{this.recyclingFee}}
        </h5>
      </li>
      <li class="list-group-item">
        <h4 class="subtitle-margin-ignore">Your Total: {{this.total}}
        </h4>
      </li>
    </ul>
  </div>
  <div class="card-body product">
    <mat-card-content>
      <div class="input-group mb-3">
        <mat-form-field class="w-100">
          <mat-label>Enter a coupon</mat-label>
          <label>
            <input matInput autocomplete="off" type="text" oninput="this.value = this.value.toUpperCase()"
                   [(ngModel)]="this.couponInput">
          </label>
          <button style="display: inline-block"  type="button" class="btn btn-sm button-theme"
                  *ngIf="this.couponInput" matSuffix (click)="validateCoupon()">
            Apply
          </button>
        </mat-form-field>
        <p>
          {{this.getCoupon}}
        </p>
      </div>
    </mat-card-content>
    <mat-card-actions fxFlexAlign="end" align="end">
      <span class="spacer"></span>
      <ng-container *ngIf="router.url.includes('cart')">
        <button mat-button>
          <mat-icon aria-hidden="false" aria-label="proceed to checkout" [routerLink]="['/checkout']">payment
          </mat-icon>
        </button>
      </ng-container>
    </mat-card-actions>
  </div>
</div>
