<div class="card">
    <header>
        <div class="card-body">
            <h5 class="card-title">Order Summary</h5>
            <p class="card-text">Your Order Total</p>
            <p class="card-text">{{totalItems}} item(s)</p>
        </div>
    </header>
    <div>

        <ul class="list-group list-group-flush">
            <li class="list-group-item">Subtotal: {{subtotal}}</li>
            <li class="list-group-item">Shipping: {{shipping}}</li>
            <li class="list-group-item">Estimated Tax: {{estimatedTax}}</li>
            <li class="list-group-item">Recycling fee: {{recyclingFee}}</li>
            <li class="list-group-item">Your Total: {{total}}</li>
        </ul>
    </div>
    <div class="card-body product">
      <mat-card-content>
        <div class="input-group mb-3">
          <label for="coupon">
            <input type="text" class="form-control" placeholder="Enter Coupon" [(ngModel)]="myInput" id="coupon" aria-describedby="basic-addon2">
            <div class="input-group-append">
              <button class="btn btn-outline-secondary" type="button" (click)="validateCoupon()">Apply</button>
            </div>
          </label>
        </div>
      </mat-card-content>
        <mat-card-actions fxFlexAlign="end" align="end">
            <span class="spacer"></span>
            <button mat-button>
                <mat-icon aria-hidden="false" aria-label="proceed to checkout">payment
                </mat-icon>
            </button>
        </mat-card-actions>
    </div>


</div>
