<mat-selection-list #categoriesSelection [(ngModel)]="selectedCategories" (ngModelChange)="onSelectionChange($event)">
  <mat-list-option *ngFor="let c of this.allCategories" [value]="c.category">
    {{c.category}}
  </mat-list-option>
</mat-selection-list>
<form [formGroup]="categoryForm" (ngSubmit)="onSubmit()">
  <label>
    <mat-form-field class="add-category">
      <input matInput type="text" formControlName="category" placeholder="New Category" #newCategory>
    </mat-form-field>
  </label>
  <button type="submit" mat-icon-button [disabled]="!categoryForm.valid">
    <mat-icon>check</mat-icon>
  </button>
</form>
{{allCategories|json}}
