.admin-container {
  width: 100%;
  height: 100%;
}

.admin-sidenav {
  padding: 20px;
}
.admin-container {
  width: 100%;
  min-height: 720px;
}
.toggle-button{
  position: absolute;
  bottom: 10vh;
}
.admin-sidenav-content{
  height:80vh;
}
