<div class="mt-2" [ngClass]="{'disableDiv': this.loading, 'activeDiv':!this.loading}" role="main">
  <div disabled="disabled" class="row">
    <div class="col-2">
      <div class="img-wrapper">
        <div class="img-div">
          <img class="image-style" src="{{item.item.productImageUrls[0].url}}"
               alt="Generic placeholder image" height="100">
        </div>
      </div>

    </div>
    <div class="col-6">
      <h4 class="mt-0 text">{{item.item.productName}}</h4>
      <h5 class=" mt-0">CAD {{item.item.productPrice}}</h5>
      <h5 class=" mt-0">{{item.item.SKU}}</h5>
      <button mat-button [routerLink]="['/info/',item.item.SKU]">View details</button>
      <button mat-button (click)="deleteFromCart(item.item.SKU)">Delete</button>
      <!--TODO MODEL POP WINDOW SHOWS DETAIL  -->
    </div>
    <div class="col-4">
      <div class="def-number-input number-input safari_only">
        <a (click)="decrement()"><i class="fas fa-minus"></i></a>

        <label>
          <input class="quantity" min="1" name="quantity" type="number" placeholder="{{item.count}}"
                 [(ngModel)]="newAmount" (keydown.enter)="this.hotUpdate()">
        </label>
        <a (click)="increment()"><i class="fas fa-plus"></i></a>
      </div>
    </div>

  </div>
</div>
