<mat-card class="mb-2 col-12 col-md-9 col-xl-12 py-md-3 pl-md-5 bd-content" role="main">
  <mat-card-content class="">
    <div class="media">
      <img alt="Generic placeholder image" class="img-thumbnail" class="thumbNail" class="mr-3"
           height="100" src="{{product.productImageUrls[0]}}">
      <div class="media-body">
        <h5 class="mt-0" class="text">{{product.productName}}</h5>
        <h6 class=" mt-0">CAD {{product.productPrice}}</h6>
        <h6 class=" mt-0">{{product.SKU}}</h6>
        <button [routerLink]="['/info/',product.SKU]" mat-button>View details</button>
        <button (click)="deleteFromCart(product.SKU)" mat-button>Delete</button>
        <!--TODO MODEL POP WINDOW SHOWS DETAIL  -->
      </div>
    </div>
  </mat-card-content>
</mat-card>
