.container{
  height: 100vh;
  margin: 20px;
  padding: 0 ;
}

.product{
  min-width: 180px;
  margin-bottom: 2vh; /* same as fxLayoutGap for even distribution */
  margin-top: 2vh; /* same as fxLayoutGap for even distribution */
}

.product img{
  height: 150px;
  object-fit: contain;
}
