.img-wrapper {
  position: relative;
}

.img-responsive {
  width: 110%;
  height: auto;
}

.img-overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  text-align: center;
}

.img-overlay:before {
  content: ' ';
  display: block;
  /* adjust 'height' to position overlay content vertically */
  height: 90%;
}
.badge{
  position: absolute;
}
