<div class="margin-top-20" fxLayout="row wrap" fxLayoutAlign="start center" fxLayoutGap="15px">

    <mat-card class="product-card">
        <mat-card-header>
            <!-- <div mat-card-avatar class="product-header-image"></div> -->
            <mat-card-title>Nike Shoes</mat-card-title>
            <mat-card-subtitle>Best Shoes Ever</mat-card-subtitle>
        </mat-card-header>
        <img mat-card-image
            src="https://c.static-nike.com/a/images/t_PDP_1728_v1/f_auto,b_rgb:f5f5f5/unojjgh3yejimfsaizar/air-max-tailwind-iv-shoe-JK03lR.jpg"
            alt="Photo of a Nike Shoes">
        <mat-card-content>
            <div class="price">
                <p>
                    CAD 130
                </p>
            </div>
        </mat-card-content>
        <mat-card-actions fxFlexAlign="end" align="end">
            <button mat-button>
                <mat-icon aria-hidden="false" aria-label="add to cart">add_shopping_cart
                </mat-icon>
            </button>
            <button mat-button>
                <mat-icon aria-hidden="false" aria-label="add to favorite">favorite
                </mat-icon>
            </button>
            <button mat-button>
                <mat-icon aria-hidden="false" aria-label="remove from favorite">favorite_border
                </mat-icon>
            </button>
        </mat-card-actions>
    </mat-card>
</div>