<mat-card class="product">
  <mat-card-content>
    <div class="img-wrapper" (mouseenter)="this.buttonShow =!this.buttonShow"
         (mouseleave)="this.buttonShow = !this.buttonShow">
      <img mat-card-image class="img-responsive" src="{{product.productImageUrls[0]}}" alt="productImg">
      <div class="img-overlay">
        <button *ngIf="this.buttonShow" type="button" class="btn btn-sm btn-secondary btn-block"
                data-toggle="modal" data-target="#quickLook">
          Quick Look
        </button>
      </div>
    </div>
    <mat-card-title class="title">{{product.productName}}</mat-card-title>
    <mat-card-subtitle class="price">CAD ${{product.productPrice}}</mat-card-subtitle>
  </mat-card-content>
  <span class="badge badge-secondary">HOT</span>
  <mat-card-actions class="d-flex justify-content-end">
    <button mat-icon-button>
      <mat-icon (click)="addToCart(product)" aria-hidden="false" aria-label="add to cart">add_shopping_cart
      </mat-icon>
    </button>
    <button (click)="like=!like" *ngIf="like" mat-icon-button>
      <mat-icon aria-hidden="false" aria-label="add to favorite">favorite
      </mat-icon>
    </button>
    <button (click)="like=!like" *ngIf="!like" mat-icon-button>
      <mat-icon aria-hidden="false" aria-label="remove from favorite">favorite_border
      </mat-icon>
    </button>
  </mat-card-actions>
</mat-card>


<div id="quickLook" class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog"
     aria-labelledby="myLargeModalLabel"
     aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <app-product-quick-look></app-product-quick-look>
    </div>
  </div>
</div>
