<mat-toolbar color="#4C4C4C">
    <mat-toolbar-row>
        <button mat-button [routerLink]="['/']">
          <span class="badge badge-secondary">LOGO</span>

        </button>
        <span class="spacer"></span>

        <button [routerLink]="['/cart']" mat-icon-button aria-hidden="false" aria-label="Example log icon">
          <mat-icon matBadge="{{this.itemInCart}}" matBadgePosition="after" matBadgeColor="warn" aria-hidden="false" aria-label="Example cart icon">shopping_cart
          </mat-icon>
        </button>

        <span *ngIf="!info?.authState; else logoutBlock" >

          <button [routerLink]="['/login']" mat-button aria-hidden="false" aria-label="Log in">
            <mat-icon aria-hidden="false" aria-label="Example log icon">people</mat-icon>
            &nbsp;
            <span>Log in/Sign Up</span>
          </button>
        </span>
        <ng-template #logoutBlock>
              <!-- <a id="avatar-btn" class="nav-link"> -->
          <img class="nav-avatar mr-1" width="20" height="20" [src]="info?.avatarURL" />
          &nbsp;
          <span>
            {{info?.displayName}}
          </span>
          &nbsp;
          <!-- </a> -->
          <button mat-button (click)="logout()">Log Out</button>
        </ng-template>
    </mat-toolbar-row>
</mat-toolbar>
