@import "../../../styles.scss";
.form-control:focus {
  outline: 0 !important;
  border-color: initial;
  box-shadow: none;

}

.nav-avatar:hover{
  cursor:pointer;
}
.card-avatar{
  border-radius: 50%;
}

.example-card{
  border-radius:0% !important;
  border: none !important ;
  webkit-box-shadow: none !important;
  box-shadow: none !important;
  padding-bottom:0.5vh;
}
