<mat-toolbar color="primary">
    <mat-toolbar-row>
        <span>LOGO</span>
        <span class="spacer"></span>
        <a [routerLink]="['/login']" mat-icon-button aria-hidden="false" aria-label="Example log icon">
            <mat-icon aria-hidden="false" aria-label="Example log icon">account_circle</mat-icon>
        </a>
        <a [routerLink]="['/cart']" mat-icon-button aria-hidden="false" aria-label="Example log icon">
            <mat-icon aria-hidden="false" aria-label="Example cart icon">shopping_cart
            </mat-icon>
        </a>

    </mat-toolbar-row>
</mat-toolbar>