<mat-vertical-stepper [linear]="isLinear" #stepper>
  <mat-step [stepControl]="saFormGroup">
    <form [formGroup]="saFormGroup">
      <ng-template matStepLabel>Shipping Address</ng-template>
      <div formGroupName="customer">
        <mat-form-field>
          <label>
            <input matInput placeholder="First name" formControlName="firstName" required>
          </label>
        </mat-form-field>
        <mat-form-field>
          <label>
            <input matInput placeholder="Last name" formControlName="lastName" required>
          </label>
        </mat-form-field>
        <br>
        <mat-form-field>
          <label>
            <input matInput placeholder="phone number" formControlName="phoneNumber" required>
          </label>
        </mat-form-field>
        <br>
      </div>
      <div formGroupName="address">
        <mat-form-field>
          <label>
            <input matInput placeholder="street 1" formControlName="street1" required>
          </label>
        </mat-form-field>
        <br>
        <mat-form-field>
          <label>
            <input matInput placeholder="street 2" formControlName="street2">
          </label>
        </mat-form-field>
        <br>
        <mat-form-field>
          <label>
            <input matInput placeholder="city" formControlName="city" required>
          </label>
        </mat-form-field>
        <br>
        <mat-form-field>
          <label>
            <input matInput placeholder="province" formControlName="province" required>
          </label>
        </mat-form-field>
        <br>
        <mat-form-field>
          <label>
            <input matInput placeholder="postal code" formControlName="postalCode" required>
          </label>
        </mat-form-field>
        <br>
        <mat-form-field>
          <label>
            <input matInput placeholder="country" formControlName="country" required>
          </label>
        </mat-form-field>
      </div>
      <div>
        <button mat-button matStepperNext>Next</button>
      </div>
    </form>
  </mat-step>
  <mat-step [stepControl]="baFormGroup">
    <ng-template matStepLabel>Billing Address</ng-template>
    <mat-checkbox class="example-margin" [(ngModel)]="sameAddress" (click)="changeBAform()">My billing address is the
      same as my shipping
      address
    </mat-checkbox>
    <form *ngIf="!sameAddress" [formGroup]="baFormGroup">
      <div formGroupName="customer">
        <mat-form-field>
          <label>
            <input matInput placeholder="First name" formControlName="firstName" required>
          </label>
        </mat-form-field>
        <mat-form-field>
          <label>
            <input matInput placeholder="Last name" formControlName="lastName" required>
          </label>
        </mat-form-field>
        <br>
        <mat-form-field>
          <label>
            <input matInput placeholder="phone number" formControlName="phoneNumber" required>
          </label>
        </mat-form-field>
        <br>
      </div>
      <div formGroupName="address">
        <mat-form-field>
          <label>
            <input matInput placeholder="street 1" formControlName="street1" required>
          </label>
        </mat-form-field>
        <br>
        <mat-form-field>
          <label>
            <input matInput placeholder="street 2" formControlName="street2">
          </label>
        </mat-form-field>
        <br>
        <mat-form-field>
          <label>
            <input matInput placeholder="city" formControlName="city" required>
          </label>
        </mat-form-field>
        <br>
        <mat-form-field>
          <label>
            <input matInput placeholder="province" formControlName="province" required>
          </label>
        </mat-form-field>
        <br>
        <mat-form-field>
          <label>
            <input matInput placeholder="postal code" formControlName="postalCode" required>
          </label>
        </mat-form-field>
        <br>
        <mat-form-field>
          <label>
            <input matInput placeholder="country" formControlName="country" required>
          </label>
        </mat-form-field>
      </div>
      <div>
        <button mat-button matStepperPrevious>Back</button>
        <button mat-button matStepperNext>Next</button>
      </div>
    </form>

  </mat-step>
  <mat-step>
    <ng-template matStepLabel>Payment</ng-template>
    <form [formGroup]="ccFormGroup">
      <mat-form-field>
        <label>
          <input matInput placeholder="First name" formControlName="firstName" required>
        </label>
      </mat-form-field>
      <mat-form-field>
        <label>
          <input matInput placeholder="Last name" formControlName="lastName" required>
        </label>
      </mat-form-field>
      <br>
      <mat-form-field>
        <label>
          <input matInput placeholder="Card Number" formControlName="cardNumber" required>
        </label>
      </mat-form-field>
      <br>
      <mat-form-field>
        <label>
          <input matInput placeholder="Expire Date" formControlName="expireDate" required>
        </label>
      </mat-form-field>
      <mat-form-field>
        <label>
          <input matInput placeholder="CVV" formControlName="cvv" required>
        </label>
      </mat-form-field>
    </form>
  </mat-step>
</mat-vertical-stepper>
