<div class="product-list">
  <button [routerLink]="['add']" class="mx-2" color="primary" mat-raised-button>Add</button>
  <button (click)="deleteProducts()" class="" color="accent" mat-raised-button>Delete</button>
  <mat-form-field class=" px-2">
    <input (keyup)="applyFilter($event.target.value)" matInput placeholder="Filter">
  </mat-form-field>
  <table [dataSource]="dataSource" class="mat-elevation-z8" class="w-100" mat-table>

    <!-- Checkbox Column -->
    <ng-container matColumnDef="select">
      <th *matHeaderCellDef mat-header-cell>
        <mat-checkbox (change)="$event ? masterToggle() : null"
                      [aria-label]="checkboxLabel()"
                      [checked]="selection.hasValue() && isAllSelected()" [indeterminate]="selection.hasValue() && !isAllSelected()">
        </mat-checkbox>
      </th>
      <td *matCellDef="let row" mat-cell>
        <mat-checkbox (change)="$event ? selection.toggle(row) : null" (click)="$event.stopPropagation()"
                      [aria-label]="checkboxLabel(row)" [checked]="selection.isSelected(row)">
        </mat-checkbox>
      </td>
    </ng-container>
    <ng-container matColumnDef="SKU">
      <th *matHeaderCellDef mat-header-cell> SKU</th>
      <td *matCellDef="let a" mat-cell> {{a.SKU}} </td>
    </ng-container>

    <ng-container matColumnDef="productName">
      <th *matHeaderCellDef mat-header-cell> Product Name</th>
      <td *matCellDef="let element" mat-cell> {{element.productName}} </td>
    </ng-container>

    <ng-container matColumnDef="productPrice">
      <th *matHeaderCellDef mat-header-cell> Product Price</th>
      <td *matCellDef="let element" mat-cell> {{element.productPrice}} </td>
    </ng-container>

    <ng-container matColumnDef="productQuantity">
      <th *matHeaderCellDef mat-header-cell> Quantity</th>
      <td *matCellDef="let element" mat-cell> {{element.productQuantity}} </td>
    </ng-container>
    <ng-container matColumnDef="productCategory">
      <th *matHeaderCellDef mat-header-cell> Category</th>
      <td *matCellDef="let element" mat-cell> {{element.productCategory.join(', ')}} </td>
    </ng-container>
    <ng-container matColumnDef="productAddedAt">
      <th *matHeaderCellDef mat-header-cell> Date</th>
      <td *matCellDef="let element" mat-cell>
        {{m.unix(element.productAddedAt.seconds).format('MM/DD/YYYY, HH:mm:ss')}}
      </td>
    </ng-container>
    <ng-container matColumnDef="edit">
      <th *matHeaderCellDef mat-header-cell> Edit</th>
      <td *matCellDef="let element" mat-cell>
        <button [routerLink]="['./modify',element.SKU]" aria-label="edit product" mat-icon-button>
          <mat-icon>edit</mat-icon>
        </button>
      </td>
    </ng-container>
    <tr *matHeaderRowDef="cols" mat-header-row></tr>
    <tr *matRowDef="let row; columns: cols;" mat-row>
    </tr>
  </table>
  <mat-paginator [pageSizeOptions]="[5, 10, 20, 50]" showFirstLastButtons></mat-paginator>
</div>
