<script src="../../services/product/product.service.spec.ts"></script>
<div class="col-sm-5">
  <h4>My Address</h4>
  <button mat-stroked-button id="add" data-toggle="collapse" href="#panel" color="primary">Add</button>
  <div id="panel" class="collapse">
    <form [formGroup]="saFormGroup" (ngSubmit)="onSubmit(saFormGroup); " >
      <div formGroupName="customer">
        <mat-form-field>
          <input id="firstName" matInput placeholder="First name" formControlName="firstName" required>
        </mat-form-field>
        <mat-form-field>
          <input matInput placeholder="Last name" formControlName="lastName" required>
        </mat-form-field>
        <br>
        <mat-form-field>
          <input matInput placeholder="phone number" formControlName="phoneNumber" required>
        </mat-form-field>
        <br>
      </div>
      <div formGroupName="address">
        <mat-form-field>
          <input id="street1" matInput placeholder="street 1" formControlName="street1" required>
        </mat-form-field>
        <br>
        <mat-form-field>
          <input id="street2" matInput placeholder="street 2" formControlName="street2">
        </mat-form-field>
        <br>
        <mat-form-field>
          <input id="city" matInput placeholder="city" formControlName="city" required>
        </mat-form-field>
        <br>
        <mat-form-field>
          <input id="province" matInput placeholder="province" formControlName="province" required>
        </mat-form-field>
        <br>
        <mat-form-field>
          <input id="postalCode" matInput placeholder="postal code" formControlName="postalCode" required>
        </mat-form-field>
        <br>
        <mat-form-field>
          <input id="country" matInput placeholder="country" formControlName="country" required>
        </mat-form-field>
      </div>
      <button mat-stroked-button data-toggle="collapse" href="#panel" color="primary" type="submit">Submit</button>
    </form>
  </div>

  <mat-list>
    <div *ngFor="let address of addressList">
        <p>{{address.customer.firstName + ' ' + address.customer.lastName}}</p>
        <p>{{address.customer.phoneNumber}}</p>
        <p>{{address.address.street1}}</p>
        <p>{{address.address.street2}}</p>
        <p>{{address.address.city + ', '+ address.address.province+', '+address.address.country}}</p>
        <p>{{address.address.postalCode}}</p>
      <button mat-stroked-button color="primary">Edit</button>
      <button mat-stroked-button color="warn" (click)="deleteAddress(address.addressId)">Delete</button>
      <mat-divider></mat-divider>
    </div>
  </mat-list>
</div>


