<form (ngSubmit)="onSubmit(productForm)" [formGroup]="productForm">
  <div class="form-container">
    <label>
      <mat-form-field>
        <input formControlName="SKU" matInput placeholder="SKU" required type="text">
      </mat-form-field>
    </label>
    <label>
      <mat-form-field>
        <input formControlName="productId" matInput placeholder="Product Id" required type="number">
      </mat-form-field>
    </label>
    <label>
      <mat-form-field>
        <input formControlName="productName" matInput placeholder="Product Name" required type="text">
      </mat-form-field>
    </label>
    <label>
      <mat-form-field>
        <input formControlName="productSummary" matInput placeholder="Product Summary" required type="text">
      </mat-form-field>
    </label>
    <label>
      <mat-form-field>
        <input formControlName="productPrice" matInput placeholder="Product Price" required type="number">
      </mat-form-field>
    </label>
    <label>
      <mat-form-field>
        <input formControlName="productDescription" matInput placeholder="Product Description" required
               type="text">
      </mat-form-field>
    </label>
    <label>
      <mat-form-field>
        <input formControlName="productQuantity" matInput placeholder="Product Quantity" required type="number">
      </mat-form-field>
    </label>
    <label>
      <mat-form-field>

        <input formControlName="ratings" matInput placeholder="Ratings" required type="number">
      </mat-form-field>
    </label>
    <label>
      <mat-form-field>
        <input formControlName="productSeller" matInput placeholder="Product Seller" type="text" value="NA">
      </mat-form-field>
    </label>
    <button [disabled]="!productForm.valid" type="submit">Submit</button>
  </div>
</form>
