<form [formGroup]="productForm" (ngSubmit)="onSubmit($event)">
	<div class="form-container">
		<label>
			<mat-form-field>
				<input matInput type="text" formControlName="SKU" required placeholder="SKU">
			</mat-form-field>
		</label>
		<label>
			<mat-form-field>
				<input matInput type="number" formControlName="productId" required placeholder="Product Id">
			</mat-form-field>
		</label>
		<label>
			<mat-form-field>
				<input matInput type="text" formControlName="productName" required placeholder="Product Name">
			</mat-form-field>
		</label>
		<label>
			<mat-form-field>
				<input matInput type="text" formControlName="productSummary" required placeholder="Product Summary">
			</mat-form-field>
		</label>
		<label>
			<mat-form-field>
				<input matInput type="number" formControlName="productPrice" required placeholder="Product Price">
			</mat-form-field>
		</label>
		<label>
			<mat-form-field>
				<input matInput type="text" formControlName="productDescription" required
					placeholder="Product Description">
			</mat-form-field>
		</label>
		<label>
			<mat-form-field>
				<input matInput type="number" formControlName="productQuantity" required placeholder="Product Quantity">
			</mat-form-field>
		</label>
		<label>
			<mat-form-field>

				<input matInput type="number" formControlName="ratings" required placeholder="Ratings">
			</mat-form-field>
		</label>
		<label>
			<mat-form-field>
				<input matInput type="text" formControlName="productSeller" placeholder="Product Seller" value="NA">
			</mat-form-field>
		</label>
		<button type="submit" [disabled]="!productForm.valid">Submit</button>
	</div>
</form>