<div class="container-fluid login-section-view-custom-width mt-5">
  <mat-card class="login-fields">

    <h1 class="text-center">LOG IN</h1>
    <form class="w-100" (ngSubmit)="emailLogin()" [formGroup]="loginForm">
      <mat-form-field class="w-100">
        <label>
          <input formControlName="email" matInput placeholder="Email" required type="email"/>
        </label>
      </mat-form-field>
      <div *ngIf="submitted && form.email.errors" class="invalid-feedback">
        <div *ngIf="form.email.errors.required">Login email is required</div>
        <div *ngIf="form.email.errors.email">Login email is not valid</div>
      </div>

      <mat-form-field class="w-100">
        <label>
          <input formControlName="password" matInput placeholder="Password" required type="password"/>
        </label>
      </mat-form-field>
      <div *ngIf="submitted && form.password.errors" class="invalid-feedback">
        <div *ngIf="form.password.errors.required">Password is required</div>
      </div>
      <div class="container-fluid w-75 mt-2">
        <button class="w-100 button-theme-gradient " mat-raised-button type="submit">LOG IN</button>
      </div>
      <div class="container-fluid w-75 mt-1">
        <button (click)="loginWithGoogle()" class="w-100 mt-2 button-theme " mat-stroked-button type="button">Log in
          with
          Gmail
        </button>
        <div class="container-fluid w-75 mt-2">
          <a [routerLink]="['/signup']">Don't have an account? Sign up</a>
        </div>
      </div>

    </form>


    <form (ngSubmit)="resetPassword()" [formGroup]="resetForm" class="mt-5">
      <label class="w-100" for="resetEmail">Forgot password?</label>
      <mat-form-field>
        <label>
          <input formControlName="email" matInput name="resetEmail" placeholder="Email" required type="email"/>
        </label>
      </mat-form-field>
      <button mat-button type="submit">Reset password</button>
    </form>
  </mat-card>
</div>

