/* You can add global styles to this file, and also import other style files */

html, body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  background-color: #f6f8f4;
}

.spacer {
  flex: 1 1 auto;
}

.invalid-feedback {
  color: red;
}


// Extra small devices (portrait phones, less than 576px)
// No media query for `xs` since this is the default in Bootstrap

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {
  .container-fluid {
    width: 100%;
  }
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
  .container-fluid {
    width: 100%;
  }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
  .main-section-view-custom-width {
    width: 60%;
  }
  .mid-banner-view-custom-width {
    width: 70%;
  }
}
@media (min-width: 1400px) {
  .main-section-view-custom-width {
    width: 55%;
  }
  .mid-banner-view-custom-width {
    width: 65%;
  }
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1500px) {
  .main-section-view-custom-width {
    width: 55%;
  }
  .mid-banner-view-custom-width {
    width: 65%;
  }
}
.logo{
  width: 100%;
  max-width: 160px;
  height: auto;
  padding-right: 1vh;
}
